thead {
    background-color: rgb(210, 250, 250);
    position: sticky;
    top: 0;
    
}

thead tr th {
    width: 150px;
    
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 1000px;
    
}

tr td:first-child {
    font-weight: 700;
    background-color: rgb(210, 250, 250);
    position: sticky;
    left: 0px;
}

tr {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: gainsboro;
}

